<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lines</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=".\css\synthboardskeleton.css">
</head>
<body>
    <h1 class="text-center">Mr Synth</h1>
    <div class="keybox">
        <div id="synthKey1" class="key1">
            <p class="keyText">Key: C</p> 
            <p class="keyText keyboardKey">Q</p>
        </div>
        <div id="synthKey2" class="key2">
            <p class="keyText">Key: D</p> 
            <p class="keyText keyboardKey">W</p>
        </div>
        <div id="synthKey3" class="key3">
            <p class="keyText">Key: E</p> 
            <p class="keyText keyboardKey">E</p>
        </div>
        <div id="synthKey4" class="key4">
            <p class="keyText">Key: F</p> 
            <p class="keyText keyboardKey">R</p>
        </div>
        <div id="synthKey5" class="key5">
            <p class="keyText">Key: G</p> 
            <p class="keyText keyboardKey">T</p>
        </div>
        <div id="synthKey6" class="key6">
            <p class="keyText">Key: A</p> 
            <p class="keyText keyboardKey">Y</p>
        </div>
        <div id="synthKey7" class="key7">
            <p class="keyText">Key: B</p> 
            <p class="keyText keyboardKey">U</p>
        </div>
        <div id="synthKey8" class="key8">
            <p class="keyText">Key: C</p> 
            <p class="keyText keyboardKey">I</p>
        </div>
        <div id="synthKey9" class="key9">
            <p class="keyText">Key: D</p> 
            <p class="keyText keyboardKey">O</p>
        </div>
        <div id="synthKey10" class="key10">
            <p class="keyText">Key: E</p> 
            <p class="keyText keyboardKey">P</p>
        </div>
        <!-- <div class="key11">Key 11</div> -->
    </div>
    <div class="keydiv">
        <select name="Select A Board" id="">
            <option value="SynthBoard">SynthBoard</option>
            <option value="Whales">Whales</option>
            <option value="Guitar">Guitar</option>
            <option value="Drums">Drums</option>
            <option value="Farts">Farts</option>
        </select>
    </div>
    <div class="linecontainer">
        <div class="line1">
            <div class="line2">
                <div class="line3">
                    <div class="line4">
                        <div class="line5">
                            <div class="line6"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="linecontainer2">
        <div class="line1">
            <div class="line2">
                <div class="line3">
                    <div class="line4">
                        <div class="line5">
                            <div class="line6"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="linecontainer3">
        <div class="line1">
            <div class="line2">
                <div class="line3">
                    <div class="line4">
                        <div class="line5">
                            <div class="line6"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src=".\js\synthboardskeletonscript.js"></script>
</body>
</html>