@model LogUser

<form asp-action="Login" asp-Controller="User" method="post">
    <div class="loginEmail">
        <label asp-for="LogEmail" class="loginform-label"></label>
        <span asp-validation-for="LogEmail" class="spantxt"></span>
        <input asp-for="LogEmail" class="loginform-control">
    </div>
    <div class="loginPassword">
        <label asp-for="LogPass" class="loginform-label"></label>
        <span asp-validation-for="LogPass" class="spantxt"></span>
        <input asp-for="LogPass" class="loginform-control">
    </div>
    <input type="submit" value="Login" class="loginbtn">
</form>