@model User
<form asp-action="Register" asp-controller="User" method="post">
    <div class="UserName">
        <label asp-for="UserName" class="form-label"></label>
        <span asp-validation-for="UserName" class="spantxt"></span>
        <input asp-for="UserName" class="form-control">
    </div>
    <div class="Email">
        <label asp-for="Email" class="form-label"></label>
        <span asp-validation-for="Email" class="spantxt"></span>
        <input asp-for="Email" class="form-control">
    </div>
    <div class="Password">
        <label asp-for="Password" class="form-label"></label>
        <span asp-validation-for="Password" class="spantxt"></span>
        <input asp-for="Password" class="form-control">
    </div>
    <div class="ConfirmPassword">
        <label asp-for="ConfirmPassword" class="form-label"></label>
        <span asp-validation-for="ConfirmPassword" class="spantxt"></span>
        <input asp-for="ConfirmPassword" class="form-control">
    </div>
    <input type="submit" value="Register" class="regbtn">
</form>