<h1 class="text-center">LOGIN AND REGISTER HEADER HERE</h1>

<div class="d-flex">
    <div class="RegDiv">
        <partial name="_RegForm"/>
    </div>
    <div class="LogDiv">
        <partial name="_LogForm"/>
    </div>
</div>