<!DOCTYPE html>
<html lang="en">
@model SoundFile
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mr Synth Fire</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Calligraffitti&family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/firestyle.css">
</head>

<body>
    
    <div class="topContainer d-flex">
        <div class="btnContainer flexCol1">
            <div class="directionbtn mt-2 ms-2" onmouseover="directionBoxShow()" onmouseleave="directionBoxHide()">
                <p class="text-center mt-2">Help</p>
            </div>
        </div>

        <div class="headerContainer d-flex justify-content-center flexCol1">
            <h1 class="text-center">Mr Synth</h1>
            <h3 class="text-center currentBoard">Fire</h3>
        </div>

        <div class="dashlogbtns flexCol1">
            <p><a asp-controller="User" asp-action="Dashboard" class="dashlogbtns me-2 dashbtn">Dashboard</a></p>
            <p><a asp-controller="User" asp-action="Logout" class="dashlogbtns me-2 logbtn">Logout</a></p>
        </div>
    </div>
    
    <div class="directionBox" id="directionBox">
        <p class="directiontxt">Press or Hold each key to play sound</p>
        <p class="directiontxt">Tap <span class="direction-important">SHIFT</span> for <span class="direction-important">HI</span> register</p>
        <p class="directiontxt">Tap <span class="direction-important">CTRL</span> for <span class="direction-important">LO</span> register</p>
        <p class="directiontxt">Tap <span class="direction-important">SPACEBAR</span> for <span class="direction-important">MID</span> register</p>
    </div>

    <div class="keyrow row gx-5">
        <div class="col mrsynthkey" id="synthKey1">
            <p class="keyText">Key: C</p>
            <p class="keyText keyboardKey">Q</p>
        </div>
        <div class="col mrsynthkey" id="synthKey2">
            <p class="keyText">Key: D</p>
            <p class="keyText keyboardKey">W</p>
        </div>
        <div class="col mrsynthkey" id="synthKey3">
            <p class="keyText">Key: E</p>
            <p class="keyText keyboardKey">E</p>
        </div>
        <div class="col mrsynthkey" id="synthKey4">
            <p class="keyText">Key: F</p>
            <p class="keyText keyboardKey">R</p>
        </div>
        <div class="col mrsynthkey" id="synthKey5">
            <p class="keyText">Key: G</p>
            <p class="keyText keyboardKey">T</p>
        </div>
        <div class="col mrsynthkey" id="synthKey6">
            <p class="keyText">Key: A</p>
            <p class="keyText keyboardKey">Y</p>
        </div>
        <div class="col mrsynthkey" id="synthKey7">
            <p class="keyText">Key: B</p>
            <p class="keyText keyboardKey">U</p>
        </div>
        <div class="col mrsynthkey" id="synthKey8">
            <p class="keyText">Key: C</p>
            <p class="keyText keyboardKey">I</p>
        </div>
        <div class="col mrsynthkey" id="synthKey9">
            <p class="keyText">Key: D</p>
            <p class="keyText keyboardKey">O</p>
        </div>
        <div class="col mrsynthkey" id="synthKey10">
            <p class="keyText">Key: E</p>
            <p class="keyText keyboardKey">P</p>
        </div>
    </div>


    <div class="sliderContainer d-flex justify-content-center">
        <div class="slider-div">
            
            <div class="slider-ball" id="slider-ball">
                <p class="slider-ball-text">Mid</p>
            </div>
        </div>
    </div>

    <div class="recordContainer d-flex justify-content-center">
        <p class="recordText ms-4">Record</p>
        <p class="recordText ms-4">Stop</p>
        <p class="recordText ms-4">Preview</p>
        <p class="recordText ms-4">Reset</p>
    </div>

    <div class="recordHeader d-flex justify-content-center">
        <p class="recordHeaderText">Record Your Session</p>
        <span asp-validation-for="Name" class="saveErrorMsg ms-5 mt-2"></span>
    </div>

    <div class="buttonContainer d-flex justify-content-between">
        <div class="recordButtonBox recordButton btnmenu" onclick="startRecording()">

        </div>
        <div class="stopButtonBox stopButton btnmenu" onclick="endRecording()">

        </div>
        <div class="previewButtonBox previewButton btnmenu" onclick="playBack(timeLine)">

        </div>
        <div class="resetButtonBox resetButton btnmenu" onclick="clearRecording()">

        </div>
    </div>
    
        <div id="RecordForm" class="recordSaveFormBox">
            <form asp-controller="Board" asp-action="SaveSound" method="post">
                <input type="hidden" asp-for="KeyPath" id="AddPath" value="">
                <input type="hidden" asp-for="BoardType" id="" value="sawtooth">
                <input asp-for="Name" placeholder="Name Your Recording..." class="recordNameTextBox">
                <button type="submit" class="mb-5 recordSaveButton">Save Recording</button>
            </form>
        </div>

    <div id="classic-board">
        <div id="classic-board-sky">
            <div id="classic-board-stars">
                <div class="classic-board-star" style="left:  5%; top: 25%; transform: scale( 2 );"></div>
                <div class="classic-board-star" style="left:  7%; top:  5%; transform: scale( 2 );"></div>
                <div class="classic-board-star" style="left: 10%; top: 15%; transform: scale( 1 );"></div>
                <div class="classic-board-star" style="left: 22%; top: 35%; transform: scale( 1 );"></div>
                <div class="classic-board-star" style="left: 15%; top: 39%; transform: scale( 1 );"></div>
                <div class="classic-board-star" style="left: 20%; top: 10%; transform: scale( 1 );"></div>
                <div class="classic-board-star" style="left: 35%; top: 50%; transform: scale( 2 );"></div>
                <div class="classic-board-star" style="left: 40%; top: 16%; transform: scale( 2 );"></div>
                <div class="classic-board-star" style="left: 43%; top: 28%; transform: scale( 1 );"></div>
                <div class="classic-board-star" style="left: 45%; top: 30%; transform: scale( 3 );"></div>
                <div class="classic-board-star" style="left: 55%; top: 18%; transform: scale( 1 );"></div>
                <div class="classic-board-star" style="left: 60%; top: 23%; transform: scale( 1 );"></div>
                <div class="classic-board-star" style="left: 62%; top: 44%; transform: scale( 2 );"></div>
                <div class="classic-board-star" style="left: 67%; top: 27%; transform: scale( 1 );"></div>
                <div class="classic-board-star" style="left: 75%; top: 10%; transform: scale( 2 );"></div>
                <div class="classic-board-star" style="left: 80%; top: 25%; transform: scale( 1 );"></div>
                <div class="classic-board-star" style="left: 83%; top: 57%; transform: scale( 1 );"></div>
                <div class="classic-board-star" style="left: 90%; top: 29%; transform: scale( 2 );"></div>
                <div class="classic-board-star" style="left: 95%; top:  5%; transform: scale( 1 );"></div>
                <div class="classic-board-star" style="left: 96%; top: 72%; transform: scale( 1 );"></div>
                <div class="classic-board-star" style="left: 98%; top: 70%; transform: scale( 3 );"></div>
            </div>
            <div id="classic-board-sunWrap">
                <div id="classic-board-sun"></div>
            </div>
            <div id="classic-board-mountains">
                <div id="classic-board-mountains-left" class="classic-board-mountain"></div>
                <div id="classic-board-mountains-right" class="classic-board-mountain"></div>
            </div>
        </div>
        <div id="classic-board-ground">
            <div id="classic-board-linesWrap">
                <div id="classic-board-lines">
                    <div id="classic-board-vlines">
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                        <div class="classic-board-vline"></div>
                    </div>
                    <div id="classic-board-hlines">
                        <div class="classic-board-hline"></div>
                        <div class="classic-board-hline"></div>
                        <div class="classic-board-hline"></div>
                        <div class="classic-board-hline"></div>
                        <div class="classic-board-hline"></div>
                        <div class="classic-board-hline"></div>
                        <div class="classic-board-hline"></div>
                        <div class="classic-board-hline"></div>
                    </div>
                </div>
            </div>
            <div id="classic-board-groundShadow"></div>
        </div>
    <div>

    <script src="~/js/firescript.js"></script>
</body>

</html>